<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

<name>Ford</name>

<description>
Para los amantes de Ford, encontrar&aacute;s todos los modelos desde sus inicios.
</description>

<author href="http://gemini.pe" email="macramirezv@gmail.com">
Mario Ramirez
</author>

<preference name="permissions" value="none"/>

<icon src="img/ford.jpg" gap:platform="android" gap:density="ldpi" />

<gap:splash src="img/fondo2.png" gap:platform="android" gap:qualifier="port-ldpi" />
<gap:splash src="img/fondo2.png" gap:platform="android" gap:qualifier="port-mdpi" />
<gap:splash src="img/fondo2.png" gap:platform="android" gap:qualifier="port-hdpi" />
<gap:splash src="img/fondo2.png" gap:platform="android" gap:qualifier="port-xhdpi" />


</widget>
